body{
    margin: 0;
    padding: 0;
    background-color: #000;
    color: #FFF;
}
header{
    backdrop-filter: blur(10px); 
    border-bottom: solid 1px #FFF; 
    position: fixed;
    height: 80px;
    width: 100%;
}




#checked{
display: none;
}


#boton_menu{
    display:none;
    color:#FFF;
    font-size: 20px;
    float:right;
    line-height: 90px;
    margin-right: 40px;
    cursor: pointer;

}


#logo{
    font-family:'monospace','consolas';
    font-size: 42px;
    line-height: 90px;
    font-weight: bold;
    margin-left: 40px;
}
.navlinks{
    float: right;
    line-height: 90px;
    margin:0;
    padding: 0;
    list-style: none;
    
}

.navlinks li{
    display: inline-block;
 margin:0 40px;
}



.navlinks li a{
    text-decoration: none;
    font-family:'tahoma','verdana';
    font-size:20px;
    color: #FFF;
    transition: all 0.3s linear 0s;
    text-transform: uppercase;

}

.navlinks a:hover{

    border-bottom: solid 1px #FF0000;
    color:#FF0000;
    padding-bottom: 7px;

    
}

/*Codigo ya procesado V0.0*/

#welcome-section{

    display: flex;
    padding-top:150px;
    flex-direction: column;
    width:100%;
    height: auto;
    margin-bottom: 150px;
    flex-wrap: wrap;
   
    

}

#welcome-section h1{

font-family: 'verdana','monospace';
font-size: 25px;
padding-left: 60px;
}


#welcome-section p{
    padding-left: 240px;
    font-size: 25px;
    border-bottom:solid 2px#FFF;
    border-right: solid 2px #FFF;
    width: 500px;
    height:auto;
    margin-left: auto;
    margin-right: auto;
    box-shadow:  5px 4px 4px #FFF;
}

#project {
display: flex;
}


#projects h1{
    font-size: 30px;
    text-align: center;
    font-family: 'tahoma','verdana';
}

.contenedor{

    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 50px;
    background-color: #FFF;
    padding: 40px 0;
    border-radius: 30px;
    margin-bottom: 100px;
}

.project-tile{
border: solid 1px #000;
border-radius: 10px;
}
.tribute_page, .form_page, .landing_page, .tecnic_page {

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}


.tribute_page{
    background-image:url("/img/pre.png");
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    width: 250px;
    height:400px;
    border-radius: 10px;
   
}

.tribute_page:hover{
    transform: scale(1.1);
    background-image:linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url("/img/pre.png");
    box-shadow: 0 5px 10px #000;
}

.tribute_page button{
background-color:rgba(0,0,0,0.5);
border: none;
color: #000;

}

.tribute_page a{

font-family: 'tahoma','verdana';
font-size: 20px;
font-weight:500;
text-decoration: none;
padding:200px 63px;
color: #FFF;

}

.tribute_page a:hover{
    color: #FF0000;
}


.landing_page{
    background-image:url("/img/pre2.png");
    background-position:top;
    background-repeat: no-repeat;
    background-size: cover;
    width: 250px;
    height: 400px;
    border-radius: 10px;
}
.landing_page:hover{
    transform: scale(1.1);
    background-image:linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url("/img/pre2.png");
    box-shadow: 0 5px 10px #000;
}

.landing_page a{
    color: #FFF;
    font-family: tahoma,verdana;
    text-decoration: none;
    font-size: 20px;
    padding: 200px 45px;
}
.landing_page a:hover{
    color:#FF0000;
}

.landing_page button{
    background-color: rgba(0,0,0,0.5);
    border: none;
    width: 250px;

}


.form_page{

    background-image:url("/img/pre3.png");
    background-position:top;
    background-repeat: no-repeat;
    background-size: cover;
    width: 250px;
    height: 400px;
    border-radius: 10px;
}

.form_page button{
    background-color: transparent;
    border: none;
    
    }

    .form_page:hover{
        transform: scale(1.1);
        background-image:linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url("/img/pre3.png");
        box-shadow: 0 5px 10px #000;
    }
    
    .form_page a{
        color: #FFF;
        font-family: tahoma,verdana;
        text-decoration: none;
        font-size: 20px;
        padding: 200px 59px;
    }
    .form_page a:hover{
        color:#FF0000;
    }
    
    .form_page button{
        background-color: rgba(0,0,0,0.5);
        border: none;
        width: 250px;
    }




.tecnic_page{

    background-image:url("/img/pre4.png");
    background-position:top;
    background-repeat: no-repeat;
    background-size: cover;
    width: 250px;
    height: 400px;
    border-radius: 10px;
}
.tecnic_page button{
    background-color: transparent;
    border: none;
    
    }


    .tecnic_page:hover{
        transform: scale(1.1);
        background-image:linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url("/img/pre4.png");
        box-shadow: 0 5px 10px #000;
    }
    
    .tecnic_page a{
        color: #FFF;
        font-family: tahoma,verdana;
        text-decoration: none;
        font-size: 20px;
        padding: 200px 59px;
    }
    .tecnic_page a:hover{
        color:#FF0000;
    }
    
    .tecnic_page button{
        background-color: rgba(0,0,0,0.5);
        border: none;
        width: 250px;
}

#profile{
    margin-top: 200px;
    background-color: #f5f5f5;
}

#profile h1{

    text-align: center;
    font-size:30px;
    font-family: 'tahoma','verdana';
    color: #000;
 
}

#profile p{
    margin-left: 10px;
    font-size: 20px;
    font-family: tahoma,verdana;
    color:#000;
    font-weight: bold;
}

#profile ul{
    display: flex;
    justify-content:space-around;
    align-items: center;
    margin: 50px 50px;
    padding-bottom: 50px;
}

#profile li,a{
    list-style: none;
    color:#000;
    text-decoration: none;
    font-weight: bold;
    font-size: 20px;
    font-family: 'consolas','monospace';
}
#profile li{

    border: solid 1px #000;
    padding:10px 20px;
}

#profile a:hover{

    color:#FF0000;
}



footer{background-color: #808080;
text-align: center;
font-family: 'consolas',monospace;
color:#000;}


@media only screen and (max-width:810px){


    #navbar{

        backdrop-filter: none;
        backdrop-filter: blur(10px);
    }


#logo{
    color: #FFF;
    font-family: 'monospace','consolas';
    font-size: 40px;
    font-weight: bold;
    animation-name: rainbow;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    }
    
    @keyframes rainbow {
        0%{
            color:yellow;
        }
        25%{
            color:orange;
        }    
    
        50%{
            color:red;
        }
    
        75%{
            color:purple;
        }
    
        100%{
            color:blue;
        }
    }

   


.navlinks{

right: -100%;
position: fixed;
width: 100%;
height: 100vh;
text-align: center;
transition: all 0.5s;
background-color: #808080;
}

.navlinks li a{

    font-size: 30px;
    color: #FFF;

}

.navlinks li{

    display:block;
    line-height: 90px;
    margin-bottom:50px;
    border-bottom: solid 1px #FFF;
}


.navlinks li a:hover{

    border-bottom:none;
}

#boton_menu{

    display:block;
}


#checked:checked~.navlinks{
    right: 0;
}

#welcome-section{
    margin:0;
    
}

#welcome-section h1{
    text-align: center;
    padding-left: 0;
    border-bottom: solid 1px #FFF;
}

#welcome-section p{
    border-bottom: none;
    border-right: none;
    box-shadow: none;
    text-align: center;
    padding: 0;
}

#profile-link{
    font-size: 13px;
}

#profile{
display: flex;
flex-direction: column;
align-items: center;
}



}

